<div class="container">
  
    <form (ngSubmit)="onSubmit()">
 
 
 
 <!--
 -->
 
      <div>
        Nombre completo<br>        <input type="text" id="nombrec" class="form-control" [(ngModel)]="newList.nombrec" name="nombrecomp" required minlength="5" maxlength="30" [(ngModel)]="model.nombrec"  #nombrec="ngModel">
      </div>
 	
      <div>
         Email<br>        <input type="text" class="form-control" [(ngModel)]="newList.email" name="email" required>
      </div>
 
 	
      <div>
        DNI<br>        <input type="text" class="form-control" [(ngModel)]="newList.dni" name="dni" required>
      </div>
 
 	
      <div>
        Direccion<br>        <input type="text" class="form-control" [(ngModel)]="newList.direccion" name="direccion" required>
      </div>
 
 	
      <div>
        Codigo postal<br>        <input type="text" class="form-control" [(ngModel)]="newList.codigop" name="codigop" required>
      </div>
 
 
 	
      <div>
        Ciudad<br>        <input type="text" class="form-control" [(ngModel)]="newList.ciudad" name="ciudad" required>
      </div>
 
 
 	
      <div>
        Pais<br>        <input type="text" class="form-control" [(ngModel)]="newList.pais" name="pais" required>
      </div>
 
 
 	
      <div>
        Observaciones<br>        <input type="text" class="form-control" [(ngModel)]="newList.observaciones" name="observaciones" required>
      </div>
 
 
 
      <div>
        Subscrito<br>        <select class="form-control" name="sub" [(ngModel)]="newList.subscrito" >
            
          <option value="si">Si</option>
          <option value="no">No</option>
        
        </select>
      </div>
      
      
      
 
      <div>
        Captacion<br>        <select class="form-control" name="cap" [(ngModel)]="newList.captacion" >
            
          <option value="telefonica">Telefonica</option>
          <option value="web">web</option>
          <option value="presencial">Presencial</option>
        
        </select>
      </div>
 
 
 
      <button type="submit" class="push-button-down btn btn-success"  style="width:25%;">Submit</button>
 	
    </form>
</div>


 <!--
 <app-tags-validator (tagsValidator)="onTagsValidator($event)"> </app-tags-validator>
 <app-tags-validator> </app-tags-validator>
 -->