<div class="container">
  
    <form (ngSubmit)="onSubmit()">
 
 
 
 <!--
 -->
 <input [(ngModel)]="tag" [tagValidator]="existingTags" #dir="ngModel" />
  <div> Valid: {{ dir.valid }} </div>
  <div> Existing tags: {{ existingTags | json }} </div>
 
 

      <div class="form-group col-md-5">
        <label for="nombrec"><h4>Nombre completo</h4></label>
        <input type="text" class="form-control" [(ngModel)]="newList.nombrec" name="nombrecomp" required>
      </div>
 
 	
      <button type="submit" class="push-button-down btn btn-success">Comprobar disponibilidad</button>
 	
      <div class="form-group col-md-5">
        <label for="email"><h4>Email</h4></label>
        <input type="text" class="form-control" [(ngModel)]="newList.email" name="email" required>
      </div>
 
 	
      <div class="form-group col-md-5">
        <label for="dni"><h4>DNI</h4></label>
        <input type="text" class="form-control" [(ngModel)]="newList.dni" name="dni" required>
      </div>
 
 	
      <div class="form-group col-md-5">
        <label for="direccion"><h4>Direccion</h4></label>
        <input type="text" class="form-control" [(ngModel)]="newList.direccion" name="direccion" required>
      </div>
 
 	
      <div class="form-group col-md-5">
        <label for="codigop"><h4>Codigo postal</h4></label>
        <input type="text" class="form-control" [(ngModel)]="newList.codigop" name="codigop" required>
      </div>
 
 
 	
      <div class="form-group col-md-5">
        <label for="ciudad"><h4>Ciudad</h4></label>
        <input type="text" class="form-control" [(ngModel)]="newList.ciudad" name="ciudad" required>
      </div>
 
 
 	
      <div class="form-group col-md-5">
        <label for="pais"><h4>Pais</h4></label>
        <input type="text" class="form-control" [(ngModel)]="newList.pais" name="pais" required>
      </div>
 
 
 	
      <div class="form-group col-md-5">
        <label for="observaciones"><h4>Observaciones</h4></label>
        <input type="text" class="form-control" [(ngModel)]="newList.observaciones" name="observaciones" required>
      </div>
 
 
 
      <div class="form-group col-md-2">
        <label for="subscrito"><h4>Subscrito</h4></label>
        <select class="form-control" name="sub" [(ngModel)]="newList.subscrito" >
            
          <option value="si">Si</option>
          <option value="no">No</option>
        
        </select>
      </div>
      
      
      
 
      <div class="form-group col-md-2">
        <label for="captacion"><h4>Captacion</h4></label>
        <select class="form-control" name="cap" [(ngModel)]="newList.captacion" >
            
          <option value="telefonica">Telefonica</option>
          <option value="web">web</option>
          <option value="presencial">Presencial</option>
        
        </select>
      </div>
 
 
 
 
 
 
 
 	
      <button type="submit" class="push-button-down btn btn-success">Submit</button>
 	
    </form>
</div>


 <!--
 <app-tags-validator (tagsValidator)="onTagsValidator($event)"> </app-tags-validator>
 <app-tags-validator> </app-tags-validator>
 -->